@import 'tailwindcss';

:root {
	--bg: #121212;
	--primary: #272727;
	--primary-hover: #2b2b2b;
	--accent: #ff0202;
	--accent-hover: #da1c19;
	--disabled: #343434;
	--white: #ffffff;
}

@theme inline {
	--color-bg: var(--bg);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-accent: var(--accent);
	--color-accent-hover: var(--accent-hover);
	--color-disabled: var(--disabled);
	--font-text: var(--font-murecho);

	--breakpoint-4xl: 240rem; /* 3840 px */
	--breakpoint-2xl: 120rem; /* 1920 px */
	--breakpoint-xl: 92rem; /* 1460 px */
	--breakpoint-lg: 64rem; /* 1024 px */
	--breakpoint-md: 50rem; /* 748 px */
	--breakpoint-s: 30rem; /* 480 px */
	--breakpoint-xs: 25rem; /* 400 px */
	--breakpoint-xxs: 24rem; /* 384 px */
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--bg);
	color: var(--text);
}

a,
button {
	cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

li {
	list-style: none;
}

ul {
	margin: 0;
}

/* Swiper slider */
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-wrapper {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

@media (max-width: 799px) {
	.swiper-wrapper {
		padding-bottom: 3rem !important;
	}
}

@media (min-width: 799px) {
	.swiper-pagination {
		display: none !important;
	}
}

.swiper-slide {
	text-align: left;
	/* font-size: 18px; */
	/* background: #444; */
	height: auto !important;
	height: full;
	overflow: hidden;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullet {
	background: var(--primary) !important;
}

.swiper-pagination-bullet-active {
	background: var(--accent) !important;
}
