@import 'tailwindcss';

:root {
	--bg: #121212;
	--primary: #272727;
	--primary-hover: #2b2b2b;
	--accent: #ff0202;
	--accent-hover: #da1c19;
	--disabled: #343434;
	--white: #ffffff;
}

@theme inline {
	--color-bg: var(--bg);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-accent: var(--accent);
	--color-accent-hover: var(--accent-hover);
	--color-disabled: var(--disabled);
	--font-text: var(--font-murecho);

	--breakpoint-4xl: 240rem; /* 3840 px */
	--breakpoint-2xl: 120rem; /* 1920 px */
	--breakpoint-xl: 92rem; /* 1460 px */
	--breakpoint-lg: 64rem; /* 1024 px */
	--breakpoint-md: 50rem; /* 748 px */
	--breakpoint-s: 30rem; /* 480 px */
	--breakpoint-xs: 25rem; /* 400 px */
	--breakpoint-xxs: 24rem; /* 384 px */
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--bg);
	color: var(--text);
}

a,
button {
	cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

li {
	list-style: none;
}

ul {
	margin: 0;
}

/* Splide slider */
.splide__arrows {
	position: absolute;
	bottom: 30px;
	right: 1.5rem;
}

.splide__arrow {
	background: var(--primary) !important;
	color: white !important;
	width: 40px !important;
	height: 40px !important;
	border-radius: 8px !important;
	opacity: 0.8 !important;
	transition: opacity 0.3s ease !important;
}

.splide__arrow:hover {
	opacity: 1 !important;
	background: var(--accent) !important;
}

.splide__arrow--prev {
	left: -90px !important;
}

.splide__arrow--next {
	right: 0px !important;
}

.splide__pagination {
	position: absolute;
}

.splide__pagination__page {
	background: #ccc !important;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50% !important;
	margin: 0 5px !important;
}

.splide__pagination__page.is-active {
	background: var(--accent) !important;
	transform: scale(1.2) !important;
}
